---
import "../styles/variables.css";
import "../styles/global.css";
import BotLesson from "../components/BotLesson.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bot Lesson Assistant</title>
  </head>
  <body>
    <BotLesson />
  </body>
</html>
